{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-7">
        <h1>Isla de Providencia</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde iusto ducimus rem quia ratione. Omnis adipisci exercitationem debitis tempora natus iure et deserunt ipsam maiores quibusdam, quas quasi suscipit dignissimos?</p>
    </div>
    <div class="col-4"><img src="assets/img/providence.jpg" alt="" class="img-thumbnail"></div>
</div>

{{> footer }}